.RecipeSelector {
    list-style: none;
    padding: 5px;
    border: 1px solid #555555;

    .RecipeSelector-Item {
        padding: 0.5em 1em;
        cursor: pointer;

        &:hover {
            background-color: #FFFFCC;
        }

        &.selected {
            background-color: #FFFF55;
        }
    }
}