
.RecipeNodeTree .list {
    padding: 5px;
}
.RecipeNodeTree .item {
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
}
.RecipeNodeTree .name {
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #333333;
    padding: 5px;
    margin: -5px -5px 5px -5px;
}
.RecipeNodeTree .action {
    background-color: #00CCCC;
    border: 1px solid #009999;
    color: #003333;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 0;
    display: inline-block;
}
.RecipeNodeTree .ingredient {
    list-style: none;
    padding: 5px;
    background: #333333;
    border-radius: 5px;
    color: #F5F5F5;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.RecipeNodeTable > .list {
    min-width: 100%;
}
.RecipeNodeTable .list {
    border: 1px solid #333333;
    margin: -1px;
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    padding: 0;
}
.RecipeNodeTable .item {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #333333;
    margin: -1px;
    flex: 1;
    align-items: stretch;
}
.RecipeNodeTable .name {
    writing-mode: vertical-rl;
    margin: 0;
    border: 1px solid #333333;
    padding: 4px 2px;
    color: white;
    background-color: #555555;
}
.RecipeNodeTable .action {
    margin: 5px;
    padding: 2px 4px;
    width: 120px;
    background-color: #00CCCC;
    border: 1px solid #009999;
    color: #003333;
    border-radius: 5px;
}
.RecipeNodeTable .ingredient {
    list-style: none;
    font-weight: bold;
    border: 1px solid #333333;
    margin: -1px;
    padding: 2px 4px;
    flex: 1;
}
